{% extends 'base.html.twig' %}



{% block body %}

{% for user in users %}
    {% if app.user %}
    <div>Vous êtes identifié en tant que {{ app.user.username }}</div>
    {% endif %}
{% endfor %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">ajouter un loisir</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
